
.h-section{
    background-image: url("/images/maik-jonietz-22W93iChREU-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex: 2;
    justify-content: space-between;
   width: 100vw;
   height: 615px;

}
.h-container-wrapper {
    display: flex;
    justify-content: center;
    background-color: rgba(234, 235, 202, 0.6);
    padding-top: 120px;
    background: repeating-linear-gradient(
  45deg,
  $third-color, 10px,
  $third-color 0px,
  rgba(0,0,0,0) 1125px,
  rgba(0,0,0,0) 0px
);
width: 50%;
height: 80.5%;
}
.h-container-wrapper img{
    width: 150px;
 }

.h-container-wrapper img:hover {
   -webkit-animation: spin 3s;
}
   
.heading-xl {
    color: $secondary-color;
}

#heading-gray {
    text-align: center;
    color: $secondary-color;
    padding: 8px;
    margin: auto;
    font-size: 19px;
    width: 380px;
}

.h-container{
    display: flex; 
    padding-left: 1rem;
    padding-right: 1rem; 
    flex-direction: column; 
    border-radius: 20px;
    align-items: center; 
    max-width: 80rem; 
}

/* .h-whitespace{
    height: 545px;
    background-color: white;
    border: solid white 1px;
    width: 20%;
} */


.paragraph{
    text-wrap: balance;
    width: auto;
    border-radius: 20px;
    padding-bottom: 8px;
    font-size: 14px;
    text-align: center;
}

#spin-img  {
    -webkit-animation: spin 3s;
}

#spin-img:hover{
    -webkit-animation: spin 3s;
}


@-webkit-keyframes spin {
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}	
}

/* MOBILE */

@media only screen and (max-width: 600px) {

    .h-container-wrapper{
        width: 100%;

      .paragraph{
        overflow: auto;

        pre{
            text-wrap: auto;
        }
      }
    }

}

@media only screen and (max-width: 901px){

    .paragraph{
        overflow: auto;

        pre{
            text-wrap: auto;
        }
      }
}