.nav {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    border: solid $third-color 1px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
}
.navbar {
    margin-left: auto;
    margin-right: 87%;
    max-width: 80rem;
    padding-left: 8px;
    padding-right: 8px;
}

svg{
    width: 100%;
    height: 100%;
    display: block;
}
text {
     font-size: 32px;
    text-anchor: middle;
    
}

.navbarContainer {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 95vw;


}
.navbarItems {
    display: flex;
    flex: 1;
    justify-content: space-between;
    border-radius: 20px;
    margin-left: 20px;
    padding-left: 20px;
    height: 80px;
  
}

.navbarLogo {
    display: flex;
    margin-right: 1.5rem;
    align-items: center;
}



.navbarMenu {
    display: flex;

    align-items: center;
    gap: 20px;
    padding-left: 10px;
    width: auto;
}