$color_1: $primary-color;
$background-color_1: white;
$background-color_2: $secondary-color;

.tl {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	background-color: $background-color_1;
	width: 45%;
	border-radius: 20px;
}
.tl-container {
	display: flex;
	padding-left: 1rem;
	padding-top: 40px;
	padding-right: 1rem;
	border-radius: 20px;
	flex-direction: column;
	align-items: center;
	max-width: 80rem;
	background-color: $background-color_2;
}

.stats{
	background-color: $background-color_2;
}

.tl-wrapper{
	display: flex;
	width: 100%;
}
.tl-title {
	margin-bottom: 10px;
	text-align: center;
}
.tl-spinner {
	color: $color_1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tl-button {
	display: flex;
	padding-left: 5rem;
	padding-right: 5rem;
	border-radius: 8px;
	flex-direction: column;
	align-items: center;
	max-width: 80rem;
	line-height: 2rem;
	height: 40px;
	text-align: center;
}
#add-btn {
	margin: 10px;
}

@media only screen and (max-width: 600px) {

	.tl-wrapper{
		display: flex;
		flex-direction: column;
	}
		.tl{
			padding-left: 0;
			border-radius: 0%;
			width: 100%;
		
		}

		.tl-container{
			padding: 0;
		}

		.runs{
			order: 2;
		}

		.stats{
			order:1;
		}

}